h1{
	font: 60px/68px 'EmbossedBlackNormal', Arial, sans-serif;letter-spacing: 0;
}

#doverpent img{
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  width: 453px;
  display:block;
}

#info{
  text-align: center;
}

