h1{
	font-family: 'EmbossedBlackNormal', Arial, sans-serif;
  letter-spacing: 0;
}

#doverpent img{
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  display:block;
}

#info{
  text-align: center;
}

#contact{
  margin-top: 20px;
}

hr.large{
  height: 8px;
}
